submodules/diff-gaussian-rasterization
submodules/simple-knn
submodules/kaolin
command
outputs
*__pycache__*
RiggedPointCloudGen/MODNet
pspnet_resnet101_sgd_lr_0.002_epoch_100_test_iou_0.918.pth
*.ckpt
*FLAME_masks.pkl
*flame2023.pkl
*generic_model.pkl
*SMPL-X__FLAME_vertex_ids.npy
*SMPLX_NEUTRAL_2020.npz

GSAvatar/render_preview.py 

RiggedPointCloudGen/mesh_optim/flame_fitting/tmp/